blinker==1.6.2
click==8.1.4
Flask==2.3.3
google-generativeai==0.1.0
google-ai-generativelanguage==0.2.0
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-generativeai==0.1.0
google-pasta==0.2.0
googleapis-common-protos==1.59.1
Jinja2==3.1.2
itsdangerous==2.1.2
Werkzeug==2.3.7
